 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
/* header section style  */
.header-bg{
    background-image: url(images/Skupina\ 5\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg{
    background-image: url(images/BG\ 2\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}